{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="#" method="GET" class="input-group">
        <input type="text" class="form-control mr-2" name="search" placeholder="Ara...">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary btn-block">Ara</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-5">
    <h3>FastText Önerileri</h3>
    {% for article_name, similarity in fastTextSuggest %}
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Başlık {{ article_name }}</h5>
          <p class="card-text">Benzerlik Oranı: {{ similarity }}</p>
        </div>
        <form action="{% url 'read_article' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="article_name" value="{{ article_name }}">
        <div class="card-footer text-right">
          <button type="submit" class="btn btn-sm btn-outline-primary">Oku</button>
        </div>
      </form>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row mt-5">
    <h3>SCIBERT Önerileri</h3>
    {% for i in num_of_cards %}
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Başlık {{ i }}</h5>
          <p class="card-text">Kart içeriği buraya gelecek.</p>
        </div>
            <div class="card-footer text-right">
      <button type="button" class="btn btn-sm btn-outline-primary">Oku</button>
    </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
