<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ezbsvcJtlu8j9jsYzhyX6XmYlI1CwzuK4xAyC9M+xVG0gbi5lI9tV90MOcFUqaDZ" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  {% block style %}{% endblock %}
  <title>Document</title>
</head>
<body>
  {% include "partials/_nav.html" %}
  {% block content %}{% endblock %}
</body>
</html>